*{
  margin: 0px;
  padding: 0px;
}

.cards{
  cursor: pointer;
  padding: 4px;
}

.title, b{
  font-family: "Times New Roman", Times, serif;
}

.table-responsive .table, tr{
  width: 1vw;
  height: 1vh;
}

.table-responsive .table, tr, td, img{
  width: 7vw;
  height: 15vh;
}